.Users {
    margin-top: 1.5rem;
}

.user {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
    margin-right: 1rem;
    text-align: center;
    width: 33rem;
    padding: 12px 16px;
}

.avatar {
    width: 10rem;
    margin-left: 10rem;
}
